.desktop {
  display: block;
}
.mobile {
  display: none;
}

video {
  height: 427px;
  width: 100%;
}
.rooms .col-md-3 {
  margin-bottom: 40px;
  padding-left: 0;
}
.action-button {
  background: #004ea8;
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  color: white;
}

.action-button:hover {
  background: #004ea8;
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  color: white;
  opacity: 0.8;
  text-decoration: none;
}
body {
  padding-bottom: 100px;
  background: url("../images/video/D9uEenT.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*  REMOVER  */
}
textarea:focus,
input:focus {
  outline: none;
}
img {
  max-width: 100%;
}

#apresentadores {
  margin: 40px 0;
}
#apresentadores .col-md-4 {
  display: block;
}
#apresentadores .nome {
  font-size: 25px;
}
#apresentadores .descricao {
  color: #1b4f88;
  font-size: 15px;
  line-height: 18px;
}
#apresentadores img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 50%;
  border: 5px solid wheat;
}
#bb {
  position: fixed;
  top: 57px;
  z-index: 10;
  min-width: 100%;
}
.navbar {
  background-color: rgba(190, 190, 190, 0.84);
  /* min-height: 65px; */
}
.navbar-brand img {
  margin-top: -12px;
}
.navbar-text {
  font-size: 20px;
  font-weight: bold;
}
#streaming,
main {
  /*   background-color: red !important; */
  overflow: hidden;
  height: 70vh;
}
.clear {
  clear: both;
}

/* info */
#info p {
  font-size: 20px;
}
#info .nome {
  font-size: 25px;
}
#info .descricao {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}
#info img {
  float: right;
  width: 169px;
  height: 169px;
  margin-right: 10px;
  margin-left: 10px;
}
/* info END */
.room-header {
  background-color: rgba(50, 141, 221, 0.4);
  text-align: center;
  padding: 1px 0;
  margin-bottom: 30px;
  margin-top: 40px;
}

#room-container h4 {
  font-size: 20px;
  font-weight: normal;
}

.texto p {
  font-size: 15px;
  color: #07183d;
  line-height: 18px;
}

article p {
  text-align: right;
}
article .col-md-7 {
  padding: 17px;
  background-color: rgba(112, 112, 112, 0.7) !important;
}

/* box-message */
.box-message {
  padding: 10px;
  background-color: #fff;
}

.box-message p {
  color: gray;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
}
.box-message input {
  width: 100%;
  border: none;
  padding: 3px;
  border-bottom: 1px solid lightblue;
}
.box-message p:last-child {
  text-align: right !important;
  margin-top: 10px;
}
.box-message i {
  font-size: 20px;
  color: lightblue;
  margin-left: 10px;
}
#streaming {
  margin-top: 30px;
}
.message-list {
  background-color: #f9f9f9;
  padding: 10px;
  overflow: auto !important;
  border: none !important;
  /*   height: 200px; */
  flex: 1;
}
.message-list p {
  font-size: 13px;
}
#messages {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* box-message END */

#chatbox > span {
  font-size: 18px;
  position: relative;
  top: 8px !important;
}
#chatbox > .action-button {
  margin-top: 6px !important;
  float: right;
  padding: 4px 30px;
}
#chatbox textarea {
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: none;
  height: 120px;
}

main > .col-md-8 h3 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}
main > .col-md-8 h1 {
  font-size: 44px;
  font-weight: bold;
}
main > .col-md-8 p {
  /*   font-size: 17px; */
  font-weight: 500;
  text-align: right;
  line-height: 20px;
}
main > .col-md-8 {
  /*   background-color: white; */
  height: 100%;
}
main > .col-md-4 {
  /*   background-color: blue; */
  height: 100%;
}
.navbar-nav > li > a {
  color: #000;
  opacity: 0.6;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav > li > a:hover {
  color: #000;
  opacity: 1;
  background: none !important;
  text-decoration: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px !important;
  border-radius: 1px;
  background: black;
}

article {
  margin: 40px 0;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

footer {
  margin-top: 40px;
}

.room {
  position: relative;
  z-index: 2;
}

.room img {
  min-width: 100%;
}

/* HERE */
.room > .title {
  text-align: right;
  margin-bottom: -30px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.room > .texto {
  background-color: rgba(50, 141, 221, 0.4);
  text-align: center;
  padding: 8px 3px;
}

.overlay p {
  font-size: 25px;
  color: white;
  margin-top: 100px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*   background: rgb(0, 0, 0); */
  /* Black see-through */
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  max-width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  #streaming,
  main {
    /* background-color: red !important; */
    overflow: hidden;
    height: auto;
  }
  main > .col-md-8 h3 {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
  }
  main > .col-md-8 h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
  }
  main > .col-md-8 p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
    margin-bottom: 40px;
  }

  .message-list {
    background-color: #f9f9f9;
    padding: 10px;
    overflow: auto !important;
    border: none !important;
    height: 332px;
    flex: none;
  }
  #apresentadores {
    margin: 0 auto !important;
  }

  #apresentadores .col-md-4 {
    width: 100%;
    float: left !important;
    display: block;
    margin-bottom: 20px;
  }
  #info {
    display: none;
  }

  .rooms img {
    max-height: 164px;
  }
  .rooms .col-md-3 {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  body {
    padding-bottom: 0;
  }
  footer p {
    font-size: 14px;
    opacity: 0.7;
    margin-top: 10px;
  }

  #bb {
    position: fixed;
    top: 54px;
  }
}
