/* hack */

@media (min-width: 992px) {
    #aDomBernardo .col-md-3 img {
        float: left;
    }
}

@media (min-width: 1281px) {

    #video {
        margin-top: 160px;
    }

}

.noDesktop {
    display: none !important;
}

/* hack */

.show {
    display: block
}

.applied {
    opacity: .7
}

#desktopMenu li {
    list-style: none;
    margin-left: 0px;
}


#desktopMenu {
    position: fixed;
    top: 130px;
    right: 90px;
    background-color: rgba(255, 255, 255, .2);
    padding: 20px;
    z-index: 10000;
}

#desktopMenu a:hover,
#desktopMenu a:active {
    text-decoration: none;
    color: #f1c56f !important;
    text-shadow: 0px 5px 12px rgba(241, 197, 111, 0.81);
}

#desktopMenu a {
    color: white;
    text-transform: uppercase;
    font-family: 'din';
    float: left;
    margin: 3px 0;
    text-decoration: none;

}

#desktopMenu li:last-child {
    display: none !important;
}

/*
banner
*/

.leftBottom {
    position: absolute;
    bottom: 10px;
    left: 10px
}

.leftTop {
    position: absolute;
    top: 10px;
    left: 10px
}

.rightTop {
    position: absolute;
    top: 10px;
    right: 10px
}

.rightBottom {
    position: absolute;
    bottom: 10px;
    right: 10px
}

#innerBanner {
    position: relative;
    /*  is it necessary?  */
    padding: 40px 20px !important;
    border: 2px solid #b3954b;
    height: 130vh
}

#banner {
    height: 100%;
    /*   position: relative; */
    background-image: url(../images/bgBannerNovo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: -220px;
}


#banner h1 {
    font-weight: 100;
    line-height: 20px;
}

#banner h1:nth-child(4) {
    color: #b3954b !important;
    margin-top: 300px;
}

#banner h1:nth-child(5) {
    color: white !important;
    margin-bottom: 20px;
}

#logoTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#toggledIcon {
    position: fixed;
    top: 70px;
    right: 70px;
    z-index: 1
}

#video iframe {
    width: 100%;
    height: 400px;
    position: relative;
    /*
    top: -220px;
    margin-bottom: -200px
*/
}

#video img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*
aDomBernardo
*/

#aDomBernardo {
    padding: 60px 0px !important;
}

#aDomBernardo .col-md-3:first-child {
    padding: 0;
    position: relative;
}

#aDomBernardo .col-md-3 img {
    position: relative;
    margin-bottom: -100px;
}

#aDomBernardo .col-md-3 {
    text-align: center;
}

#aDomBernardo .col-md-6 {
    padding-top: 30px;
}

#aDomBernardo .col-md-3 h1 {
    color: #eeeeee;
    font-size: 200px;
    font-weight: lighter;
}

#aDomBernardo .col-md-3 h2 {
    color: #b3954b;
    font-size: 40px;
    position: relative;
    top: -145px;
    margin-bottom: -40px;
}

#aDomBernardo button img {
    position: relative;
    top: -2px;
    margin-right: 5px;
}

#aDomBernardo button {
    color: #525b37;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'bodoni';
    margin-top: 10px;
    background-color: transparent !important
}

/*
dia
*/

#dia {
    background-image: url(../images/bgDia.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0px;
    margin-top: 40px;
}

#dia .col-md-4:nth-child(1) {
    display: none;
}

/*
#dia .col-md-8 {
    background-image: url(../images/moldura.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}
*/

#innerDia {
    position: relative;
    /*  is it necessary?  */
    padding: 20px !important;
    border: 2px solid #b3954b;
    height: 300px
}

#dia .col-md-8 {
    padding: 50px 0px
}

#dia .col-md-12 {
    height: 100%;
    /*   position: relative; */
    background-color: transparent;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    padding: 30px 30px
}

#dia button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
    border: 2px solid #b3954b;
    background-color: black;
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
}

#dia .col-md-4 {
    text-align: center;
    padding-top: 70px;
}

#dia p {
    color: white
}

#dia h2 {
    color: #b3954b
}


/*
diferenciais
*/

#diferenciais .col-md-4 {
    min-height: 400px;
    text-align: center;
    border: none !Important
}

#diferenciais .col-md-4:first-child {
    background-color: #b3954b;
    padding: 150px 0px
}

#diferenciais .col-md-4:nth-child(2) {
    background-image: url(../images/difBg2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 509px;
    padding: 190px 0px 0px;
}

#diferenciais .col-md-4 h4 {
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
    font-family: 'din';
}

#diferenciais .col-md-4:last-child {
    background-image: url(../images/difBg3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 509px;
    padding: 190px 0px 0px;

}

#diferenciais .col-md-4:first-child h1 {
    color: #a98f49;
    font-size: 140px;
}

#diferenciais .col-md-4:first-child h2 {
    color: white;
    font-size: 50px;
    position: relative;
    top: -125px;
    margin-bottom: -40px;
}

/*
preCardapio
*/

#preCardapio h1 {
    color: white;
    text-align: center;
    font-size: 70px;
}

#preCardapio {
    background-image: url(../images/bgCardapio.jpg);
    min-height: 530px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    background-position: center 0;
}

/*
cardapio
*/

#cardapio {
    margin: 60px 0px;
}

#cardapio button {
    background-color: #525a35;
    border: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'bodoni';
    margin-top: 30px;
    padding: 10px 30px;
}

/*
gallery
*/

#gallery {
    background-color: #fff;
    padding: 40px 0px 160px !important;
}

#gallery h1 {
    color: #525a35;
    font-size: 69px;
    text-align: center;
}

/* wpcf7 

input,
.wpcf7 input {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 10px 0px !important;
}

textarea,
.wpcf7 textarea {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 10px 0px !important;
}

input[type=submit],
.wpcf7 input[type=submit] {
    background-color: #9cd3ff;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

input[type=submit]:hover,
.wpcf7 input[type=submit]:hover {
    opacity: 0.7;
}
