/*
vars
*/

:root {
    --bgColor: white;
    --titles: 'din';
}

/* 
fonts
*/

@font-face {
    font-family: 'din';
    src: url('../../fonts/d-din.woff2') format('woff2'),
    url('../../fonts/d-din.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinBold';
    src: url('../../fonts/d-din-bold.woff2') format('woff2'),
    url('../../fonts/d-din-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'bodoni';
    src: url('../../fonts/bodoni-72-smallcaps-book.woff2') format('woff2'),
    url('../../fonts/bodoni-72-smallcaps-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General Styles */

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll
}

body {
    margin-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'bodoni';
    font-weight: bold;
}

a,
button {
    /*    font-family: 'Avenir Next';*/
}

a:hover,
button:hover {
    opacity: .7;
    text-decoration: none;
}

p {
    /*    font-family: 'Avenir Next';
    */
    font-family: 'din';
    color: #5d5d5d;
    font-size: 16px;
    line-height: 26px;
}

ul {
    list-style: none;
    margin-left: -38px;
}

img {
    max-width: 100%
}

hr {
    border: 0;
    width: 70px;
    color: #9cd3ff;
    background-color: #9cd3ff;
    height: 2px;
    position: relative;
    margin-left: 4px
}


.clear {
    clear: both;
}

/* header #2 */

.navbar-default {
    background-color: white;
    border: none;
    border-radius: 0;
    padding: 15px 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand img {
    margin-top: -20px;
    width: 130px
}

.navbar-default .navbar-brand {
    color: #777
}


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav > li {
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #123c91;
    font-weight: bold;
    font-family: 'Avenir Next';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-right a {
    padding: 0px !important;
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}

header h4 {
    font-size: 10px;
    margin-top: 0;
}

header h3 {
    font-size: 14px;
    margin-top: -7px;

}

/*
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
*/
/*
.social-top i {
    margin-right: 10px;
}

.social-top button {
    padding: 20px 30px;
    background-color: #a03b3c;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 40px;
    font-size: 12px;
}

.top-contato ul {
    float: right;
}

.top-contato li {
    float: left;
    list-style: none;
    color: #bebebe;
    font-size: 12px;
    margin-left: 15px;
}

.top-contato i {
    margin-right: 5px;
}*/
