@media (max-width: 767px) {

    /*    
    banner
    */
    .leftBottom {
        position: absolute;
        bottom: 10px;
        left: 10px
    }

    .leftTop {
        position: absolute;
        top: 10px;
        left: 10px
    }

    .rightTop {
        position: absolute;
        top: 10px;
        right: 10px
    }

    .rightBottom {
        position: absolute;
        bottom: 10px;
        right: 10px
    }

    #innerBanner {
        position: relative;
        /*  is it necessary?  */
        padding: 20px !important;
        border: 2px solid #b3954b;
        height: 100vh
    }

    #banner {
        height: 100%;
        /*   position: relative; */
        background-image: url(http://freela.tech/images/bgBannerNovo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        overflow: hidden;
    }
    #toggledIcon {
        position: fixed;
        top: 70%;
        left: 45%;
        z-index: 1
    }
    #video iframe {
        width: 100%;
        height: 400px;
        position: relative;
        top: -360px;
        margin-bottom: -350px
    }
    /*
info
*/
    #info {
        background-color: #414141;
        padding: 44px 0px 0px
    }
    #info .col-md-1,
    #info .col-md-3,
    #info .col-md-4 {
        margin-bottom: 50px;
    }
    #info .col-md-4:nth-child(3) {
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: none;
        border-right: none;
        border-top: 1px solid #616161;
        border-bottom: 1px solid #616161;
        position: relative;
        top: 0px
    }

    /*    
    diferenciais
    */
    #diferenciais .col-md-4:nth-child(2) {
        margin-bottom: -10px;
    }
    /*    
    dia
    */
    #dia .col-md-8 {
        background-image: none;
        border: 2px solid #b3954b;
        padding: 90px 30px 30px 30px
    }
    /*    
    aDomBernardo
    */
    #aDomBernardo .col-md-3 img {
        left: -30px;
    }
}
