@media (max-width: 767px) {
    .noMobile {
        display: none;
    }
    /*    
    desktopMenu
    */
    #desktopMenu {
        position: fixed;
        top: 120px;

        right: 40px;
        left: 80px;
        /*        display: inline-block !important;
        */
        background-color: rgba(255, 255, 255, .2);
        padding: 20px;
        z-index: 10000;
        text-align: center !important;
    }
    #desktopMenu li {
        text-align: center;
        float: none;
        margin-top: 20px;
    }
    #desktopMenu a {
        float: none;
        font-size: 20px;
        text-decoration: none;

    }

    /*    
    banner
    */
    .leftBottom {
        position: absolute;
        bottom: 10px;
        left: 10px
    }

    .leftTop {
        position: absolute;
        top: 10px;
        left: 10px
    }

    .rightTop {
        position: absolute;
        top: 10px;
        right: 10px
    }

    .rightBottom {
        position: absolute;
        bottom: 10px;
        right: 10px
    }

    #innerBanner {
        position: relative;
        /*  is it necessary?  */
        padding: 20px !important;
        border: 2px solid #b3954b;
        height: 100vh
    }

    #banner {
        height: 100%;
        /*   position: relative; */
        background-image: url(http://freela.tech/images/bgBannerNovo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 0px;
    }
    #banner h1:nth-child(5) {
        font-size: 20px
    }
    #banner h1:nth-child(4) {
        color: #b3954b !important;
        margin-top: 200px;
    }
    #toggledIcon {
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1
    }
    #video .container {
        padding: 5px;
    }
    #video .col-md-10 {
        padding: 0px;
        margin: 0px;
    }
    #video iframe {
        width: 100%;
        height: 400px;
        position: relative;
        top: 20px;
        margin-bottom: 30px
    }
    /*
info
*/
    #info {
        background-color: #414141;
        padding: 44px 0px 0px
    }
    #info .col-md-1,
    #info .col-md-3,
    #info .col-md-4 {
        margin-bottom: 50px;
    }
    #info .col-md-4:nth-child(3) {
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: none;
        border-right: none;
        border-top: 1px solid #616161;
        border-bottom: 1px solid #616161;
        position: relative;
        top: 0px
    }

    /*    
    diferenciais
    */
    #diferenciais .col-md-4 {
        min-height: 200px;
        text-align: center;
        border: none !Important
    }
    #diferenciais .col-md-4:first-child {
        background-color: #fff;
        padding: 0px
    }
    #diferenciais .col-md-4:first-child h1 {
        color: #efefec;
        font-size: 140px;
    }

    #diferenciais .col-md-4:first-child h2 {
        color: #a98f49;
        font-size: 50px;
        position: relative;
        top: -125px;
        margin-bottom: -40px;
    }

    #diferenciais .col-md-4:nth-child(2) {
        background-image: url(../images/difBg2.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 300px;
        padding: 100px 0px 0px;
        margin-bottom: -10px;
    }
    #diferenciais .col-md-4:last-child {
        background-image: url(../images/difBg3.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 300px;
        padding: 100px 0px 0px;

    }
    /*    
    dia
    */
    #dia .col-md-12 {
        padding: 0px;
        overflow: inherit;
    }
    #dia .col-md-8 {
        padding: 20px 0px 0px
    }
    #innerDia {
        position: relative;
        /*  is it necessary?  */
        padding: 20px !important;
        border: 2px solid #b3954b;
        height: 640px
    }
    #dia button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -20px;
        border: 2px solid #b3954b;
        background-color: black;
        color: white;
        padding: 10px 30px;
        text-transform: uppercase;
    }

    /*    
    aDomBernardo
    */
    #aDomBernardo .col-md-3 img {
        left: -30px;
    }
    /*    
    info
    */
    #info a {
        font-size: 12px;
    }
    #info li {
        font-size: 14px;
    }
}
