/*
info
*/

#info {
    background-color: #414141;
    padding: 74px 0px 44px
}

#info li {
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
}

#info li img {
    margin-right: 10px;
}

#info .col-md-4:nth-child(2) {
    display: none;
}

#info .col-md-4:nth-child(4) {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #616161;
    border-right: 1px solid #616161;
    position: relative;
    top: -20px
}

#info .col-md-3:nth-child(5) .clear {
    text-align: center;
}

#info .col-md-3:nth-child(5) .clear img {
    margin: 5px;
}

#info .col-md-1:last-child {
    display: none;
}

#info a {
    color: white;
    font-size: 16px;
}

#info p {
    color: white
}

#info button {
    border: 1px solid #b3954b;
    width: 100% !important;
    background-color: transparent;
    padding: 14px 0;
    color: white;
    font-family: 'bodoni';
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/*
footer
*/

footer {
    padding: 30px;
    padding-bottom: 24px;
    background-color: black;
    position: absolute;
    width: 100%;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

footer p {
    color: #7a7878;
    font-size: 12px;
    font-weight: bold;
}
