@media (max-width: 767px) {

    /*   
    
    #desktopMenu {
        position: fixed;
        top: 120px;

        right: 40px;
        left: 80px;
    background-color: rgba(0, 0, 0, .8);
    padding: 20px;
    z-index: 10000;
    text-align: center !important;
}

*/
    /*    
    desktopMenu
    */
    #desktopMenu {
        position: fixed;
        top: 0px;

        right: 0px;
        left: 0px;
        bottom: -10px;
        /*        display: inline-block !important;
        */
        background-color: rgba(0, 0, 0, .8);
        padding: 150px 20px 20px;
        z-index: 10000;
    }

    #desktopMenu li {
        float: none;
        margin-top: 20px;
        margin-left: 40px;
    }
    #desktopMenu li:last-child {
        display: block !important;
    }

    #desktopMenu a {
        float: none;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    /*    
    banner
    */
    .leftBottom {
        position: absolute;
        bottom: 10px;
        left: 10px
    }

    .leftTop {
        position: absolute;
        top: 10px;
        left: 10px
    }

    .rightTop {
        position: absolute;
        top: 10px;
        right: 10px
    }

    .rightBottom {
        position: absolute;
        bottom: 10px;
        right: 10px
    }

    #innerBanner {
        position: relative;
        /*  is it necessary?  */
        padding: 20px !important;
        border: 2px solid #b3954b;
        height: 100vh !important
    }

    #banner {
        height: 100%;
        /*   position: relative; */
        background-image: url(http://freela.tech/images/bgBannerNovoMobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 0px;
    }
    #bgVideo {
        display: none;
    }


    #banner h1:nth-child(3) {
        font-size: 20px
    }

    #banner h1:nth-child(2) {
        color: #b3954b !important;
        margin-top: 200px;
    }

    #toggledIcon {
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1
    }

    #video .container {
        padding: 5px;
    }

    #video .col-md-10 {
        padding: 0px;
        margin: 0px;
    }

    #video iframe {
        width: 100%;
        height: 400px;
        position: relative;
        top: 0px;
        margin-bottom: 30px
    }

    /*
info
*/
    #info {
        background-color: #414141;
        padding: 44px 0px 0px
    }

    #info .col-md-1,
    #info .col-md-3,
    #info .col-md-4 {
        margin-bottom: 50px;
    }

    #info .col-md-4:nth-child(4) {
        display: none;
    }

    #info .col-md-4:nth-child(2) {
        display: block;
        margin-bottom: 40px !important;
    }

    #info .col-md-4:nth-child(2) li:nth-child(1) {
        margin-left: 30px !important;
    }

    #iwatch {
        margin-bottom: 20px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #info .col-md-1:first-child {
        display: none;
    }

    #info .col-md-1:last-child {
        display: block;
        text-align: center;
    }

    #info button {
        border: 1px solid #b3954b;
        width: auto !important;
        background-color: transparent;
        padding: 14px 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-family: 'bodoni';
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    /*    
    diferenciais
    */
    #diferenciais .col-md-4 {
        min-height: 200px;
        text-align: center;
        border: none !Important
    }

    #diferenciais .col-md-4:first-child {
        background-color: #fff;
        padding: 0px
    }

    #diferenciais .col-md-4:first-child h1 {
        color: #efefec;
        font-size: 140px;
    }

    #diferenciais .col-md-4:first-child h2 {
        color: #a98f49;
        font-size: 50px;
        position: relative;
        top: -125px;
        margin-bottom: -40px;
    }

    #diferenciais .col-md-4:nth-child(2) {
        background-image: url(../images/difBg2.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 300px;
        padding: 100px 0px 0px;
        margin-bottom: -10px;
    }

    #diferenciais .col-md-4:last-child {
        background-image: url(../images/difBg3.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 300px;
        padding: 100px 0px 0px;

    }

    /*    
    dia
    */
    #dia .col-md-12 {
        padding: 0px;
        overflow: inherit;
    }

    #dia .col-md-8 {
        padding: 20px 0px 0px
    }

    #innerDia {
        position: relative;
        /*  is it necessary?  */
        padding: 20px !important;
        border: 2px solid #b3954b;
        height: 640px
    }

    #dia button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -20px;
        border: 2px solid #b3954b;
        background-color: black;
        color: white;
        padding: 10px 30px;
        text-transform: uppercase;
    }

    /*    
    aDomBernardo
    */
    #aDomBernardo .col-md-3 img {
        left: 0px;
        float: left;
        width: 50%;
    }

    #aDomBernardo button img {
        display: none;
    }

    #aDomBernardo button {
        color: #b5b5b5;
        padding: 15px 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #b5b5b5;

        margin-top: 40px;
        margin-bottom: -40px;

    }

    #aDomBernardo .col-md-6 {
        padding: 20px;
    }
    /*
preCardapio
*/
    #preCardapio {
        background-image: url(../images/bgCardapio.jpg);
        min-height: 330px;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 100px;
        background-position: center 0;
    }

    /*
gallery
*/
    #gallery {
        background-color: #fff;
        padding: 40px 0px 60px !important;
    }

    /*    
    info
    */
    #info .container {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #info .col-md-4:nth-child(2) {
        padding: 10px;
        margin: 0px;
    }

    #info li {
        font-size: 14px;
    }

    /* hacks */
    #aDomBernardo p:nth-child(2) {
        display: none !important;
    }

    #video img {
        display: none !important;
    }

    #dia .col-md-4:nth-child(1) {
        display: block;
        margin: -30px 0px 30px;
    }

    #dia .col-md-4:nth-child(3) {
        display: none !important;
    }

    /* hacks END */
}
